.header
    background-image: url(/images/desktop/image-header.jpg)
    min-height: 100vh
    width: 100%
    position: relative
    background-size: cover
    background-position: bottom
    color: #fff
    align-items: center
    text-align: center

    &-container
        padding: 20px 10px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-around
        font-family: Fraunces
        font-size: 4rem
        letter-spacing: 0.5rem
        @media (max-width: 1000px)
            font-size: 3.2rem
        @media (max-width: 850px)
            font-size: 2.4rem

        a
            padding: 200px 0
            color: #fff
            text-decoration: none
            @media (max-width: 1000px)
                padding: 70px 0
            img
                width: 100%
                @media (max-width: 1000px)
                    width: 90%
                @media (max-width: 800px)
                    width: 80%
