.nav
    display: flex
    justify-content: space-between
    align-items: center
    padding: 25px 30px
    font-family: Barlow

    &-logo
        font-size: 2rem
        font-weight: 800

    &-menu

        button
            font-family: Barlow
            background-color: inherit
            border: inherit
            padding: 1rem 1rem
            font-size: 1.2rem
            cursor: pointer
            color: #fff
            font-weight: 600
            outline: none

            &:hover
                background-color: rgba(255,255,255,0.3)
                border-radius: 100px
